a{
  display: block;
  color: #ffffff;
  background: #000000;
}
a:visited{
  color: #00FF00;
  background: #FF0000;
}
a[href*="2"]{
  font-size: 35px;
}
a:hover{
  background: #0000FF
}
.classA{
  height: 125px;
  background: -webkit-linear-gradient(right, #FF0000 0%, #0000FF 100%);
  background: linear-gradient(right, #FF0000 0%, #0000FF 100%);
  text-align: center;
}
.classB{
  height: 250px;
  background: #00FF00;
  padding-top: 120px;
}
#A{
  color: #0000FF;
}
#B{
  color: #00FF00;
}
#C{
  color: #FF0011;
}
